<component name="ArtifactManager">
  <artifact type="war" name="SpringSpringHibernate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring+Spring+Hibernate.war">
      <element id="artifact" artifact-name="SpringSpringHibernate:war exploded" />
    </root>
  </artifact>
</component>